.Meaning h3 {
  font-style: italic;
  font-size: 24px;
  font-weight: 500;
}

.Meaning p {
  margin-left: 30px;
}

.Meaning .definition {
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

.Meaning .example {
  font-style: italic;
  display: block;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .Meaning h3 {
    font-size: 20px;
  }

  .Meaning .definition {
    font-size: 14px;
  }

  .Meaning .example {
    font-size: 12px;
  }
}
