.Results .result-word {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 25px;
  color: #000;
}

@media (max-width: 576px) {
  .Results .result-word {
    font-size: 32px;
  }
}
